body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url("https://images.pexels.com/photos/6958783/pexels-photo-6958783.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
  background-position: center;
}

.sign-up-form {
  width: 300px;
  box-shadow: 0 0 3px o rgba(0, 0, 0, 0.3);
  padding: 50px;
  margin: 10% auto 0;
  background: #ccc;
  text-align: center;
}
.sign-up-form h1 {
  color: #1572a1;
  margin-bottom: 30px;
}
.input-box {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 20px;
  outline: none;
  border: 1px solid #999;
}
button {
  color: #fff;
  width: 100%;

  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  border: none;
  outline: none;
  cursor: pointer;
}
.signup-btn {
  background-color: #1572a1;
}
.twitter-btn {
  background-color: #9ad0ec;
}
a {
  text-decoration: none;
  font-size: large;
}
hr {
  margin-top: 20px;
  width: 80%;
}
.or {
  background: #fff;
  width: 30px;
  margin: -19px auto 0;
}
